[Unit]
Description= BLAZINGLY FAST blog service 

[Service]
WorkingDirectory={{ working_directory }}
ExecStart={{ exec_start }}
Restart=no
KillSignal=SIGINT
SyslogIdentifier={{ syslog_identifier }}
User=root

[Install]
WantedBy=multi-user.target